<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thực Hành Kiểm Tra WEBSITE Lần 1</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">Thời Sự </a></li>
                <li><a href="">Thế Giới </a></li>
                <li><a href="">Thể Thao</a></li>
                <li><a href="">Liên Hệ</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="box">
            <div id="img"><img src="https://tse1.mm.bing.net/th?id=OIP.8RQ2R0KwIOc8-3WqJ5FadwHaFH&pid=Api&rs=1&c=1&qlt=95&w=144&h=99" alt=""></div>
            
            <h3>Tiêu đề tin tức 1 </h3>
            <p><span>Ngày đăng: 19:00</span> - <span>22 - 12 - 2022 </span>- <span> tác giả :admin</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quae nobis excepturi harum corporis. Aspernatur iste incidunt repudiandae earum porro illum sequi beatae, neque rem nisi quasi, est, nemo nesciunt?</p>
                <a href="">xem tiếp</a>
        </div>
        <div class="box">
            <div id="img"><img src="https://tse1.mm.bing.net/th?id=OIP.8RQ2R0KwIOc8-3WqJ5FadwHaFH&pid=Api&rs=1&c=1&qlt=95&w=144&h=99" alt=""></div>
            <h3>Tiêu đề tin tức 1</h3>
            <p><span>Ngày đăng: 19:00</span> - <span>22 - 12 - 2022 </span>- <span> tác giả :admin</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quae nobis excepturi harum corporis. Aspernatur iste incidunt repudiandae earum porro illum sequi beatae, neque rem nisi quasi, est, nemo nesciunt?</p>
                <a href="">xem tiếp</a>
        </div>
        <div class="box ">
            <div id="img"><img src="https://tse1.mm.bing.net/th?id=OIP.8RQ2R0KwIOc8-3WqJ5FadwHaFH&pid=Api&rs=1&c=1&qlt=95&w=144&h=99" alt=""></div>
            <h3>Tiêu đề tin tức 1</h3>
            <p><span>Ngày đăng: 19:00</span> - <span>22 - 12 - 2022 </span>- <span> tác giả :admin</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quae nobis excepturi harum corporis. Aspernatur iste incidunt repudiandae earum porro illum sequi beatae, neque rem nisi quasi, est, nemo nesciunt?</p>
                <a href="">xem tiếp</a>
        </div>
        <div class="box">
            <div id="img"><img src="https://tse1.mm.bing.net/th?id=OIP.8RQ2R0KwIOc8-3WqJ5FadwHaFH&pid=Api&rs=1&c=1&qlt=95&w=144&h=99" alt=""></div>
            <h3>Tiêu đề tin tức 1</h3>
            <p><span>Ngày đăng: 19:00</span> - <span>22 - 12 - 2022 </span>- <span> tác giả :admin</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quae nobis excepturi harum corporis. Aspernatur iste incidunt repudiandae earum porro illum sequi beatae, neque rem nisi quasi, est, nemo nesciunt?</p>
                <a href="">xem tiếp</a>
        </div>
        <div class="box">
            <div id="img"><img src="https://tse1.mm.bing.net/th?id=OIP.8RQ2R0KwIOc8-3WqJ5FadwHaFH&pid=Api&rs=1&c=1&qlt=95&w=144&h=99" alt=""></div>
            <h3>Tiêu đề tin tức 1</h3>
            <p><span>Ngày đăng: 19:00</span> - <span>22 - 12 - 2022 </span>- <span> tác giả :admin</span></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quae nobis excepturi harum corporis. Aspernatur iste incidunt repudiandae earum porro illum sequi beatae, neque rem nisi quasi, est, nemo nesciunt?</p>
                <a href="">xem tiếp</a>
        </div>
        <div class="thongtin">
            <h3>Trang trước</h3>
            <h3>1/5</h3>
            <h3>Trang sau</h3>
        </div>

        
    </div>
    <footer><p>0306211030 - Phạm Đức Hậu</p></footer>
</body>
</html>